<template name="addFriendMethods">
	<!-- if NFC-> nfc template else if QRCode-> qr code template else email -->
	{{#if NFC}}
		NFC:
		{{> byNFC}}
	{{else}}
		{{#if QRCode}}
			QRCode:
			{{> byQRCode}}
	<!--	{{else}}
			{{#if Email}}
				Email:
				{{> byEmail}}
			{{/if}}-->
		{{/if}}
	{{/if}}
</template>	

<template name="byNFC">
	<div id="addByNFC">
		<div class="row" align="middle">
			<h2>Give me Five!!!</h2>
		</div>

		<div class="row">
			<img src="/images/nfc/NFC_icon.png" class="img-responsive nfc_icon" style="max-height:300px;">
		</div>
	</div>
</template>

<template name="byQRCode">
	<div class="row" align="middle">
		<img src="{{QrCodeUrl}}" style="max-height:300px;">
	</div>
</template>	

<template name="byEmail">
	<div class="row" id="addByEmail">
		<div id="email-list">
			<div class="form-group" >
				<input type="text" class="form-control" placeholder="email">
			</div>
		</div>
		<button class="btn btn-default" onclick=addReceiver() type="send">Add</button>
		<button class="btn btn-default" onclick=finish() type="send">Send</button>
	</div>
</template>

<template name="addfriend">
	<!-- content -->
	<div class="container">
		<ul class="nav nav-tabs">
			{{> list_nav}}
		</ul>
		{{> addFriendMethods}}
		<button type="button" id="addByNfc" class="btn btn-default btn-lg btn-block">NFC</button>
		<button type="button" id="addByQr" class="btn btn-default btn-lg btn-block">QR code</button>
		<!--<button type="button" id="addByMail" class="btn btn-default btn-lg btn-block">Want to use Email?</button>-->
	</div> 
</template>
