<template name="addMeetingForm">	
	<!-- content -->
	<div class="container">
		<div class="form-group">
			<label class="sr-only" for="meetingName">Meeting Name</label>
			<input type="text" class="form-control" id="meetingName" placeholder="Meeting Name">
		</div>
	
		<div class="form-group">
			<label class="sr-only" for="meetingLocation">Location</label>
			<input type="text" class="form-control" id="meetingLocation" placeholder="Location">
		</div>

		<div class="form-group">
			<label class="sr-only" for="pic">pic</label>
			<p>Click to add or remove</p>
			<ul id="addManager">
				{{#each members}}
				<li id="{{id}}">{{name}}</li>
				{{/each}}
			</ul>
			<p>Participants</p>
			<ul>
				{{#each participants}}
				<li>{{.}}</li>
				{{/each}}
			</ul>
		</div>

		<div class="input-group">
			<input type="text" class="form-control" placeholder="Date/Time" id="dateTime">
			<span class="input-group-btn">
				<button class="btn btn-primary" type="button" id="myselect">Select</button>
			</span>
		</div>

		<div>&nbsp;</div>
		<button id="success" type="submit" class="btn btn-primary btn-lg">Create Task</button>
		<button id="cancel" type="button" class="btn btn-primary btn-lg" style="background-color:red">Cancel</button>
	</div> 
<!--
<div class="container text-center" style="display:none;" id="selectDateTime">
		March
		<div class="table-responsive" >
			<table class="table table-condensed table-bordered">
				<thead>
					<tr>
						<th>Time</th>
						<th>22</th>
						<th>23</th>
						<th>24</th>
						<th>25</th>
						<th>26</th>
						<th>27</th>
						<th>28</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">9</th>
						<td class="success" date="22/3" startTime="9" endTime="10" onclick=checked(this)></td>
						<td class="success" date="23/3" startTime="9" endTime="10"  onclick=checked(this)></td>
						<td date="24/3" startTime="9" endTime="10" ></td>
						<td date="25/3" startTime="9" endTime="10" ></td>
						<td date="26/3" startTime="9" endTime="10" ></td>
						<td date="27/3" startTime="9" endTime="10" ></td>
						<td date="28/3" startTime="9" endTime="10" ></td>
					</tr>
					<tr>
						<th scope="row">10</th>
						<td date="22/3" startTime="10" endTime="11"></td>
						<td date="23/3" startTime="10" endTime="11"></td>
						<td date="24/3" startTime="10" endTime="11" class="success" onclick=checked(this)></td>
						<td date="25/3" startTime="10" endTime="11" class="success" onclick=checked(this)></td>
						<td date="26/3" startTime="10" endTime="11"></td>
						<td date="27/3" startTime="10" endTime="11"></td>
						<td date="28/3" startTime="10" endTime="11"></td>
					</tr>
					<tr>
						<th scope="row">11</th>
						<td date="22/3" startTime="11" endTime="12"></td>
						<td date="23/3" startTime="11" endTime="12"></td>
						<td class="success" onclick=checked(this) date="24/3" startTime="11" endTime="12"></td>
						<td class="success" onclick=checked(this) date="25/3" startTime="11" endTime="12"></td>
						<td date="26/3" startTime="11" endTime="12"></td>
						<td date="27/3" startTime="11" endTime="12"></td>
						<td date="28/3" startTime="11" endTime="12"></td>
					</tr>
					<tr>
						<th scope="row">12</th>
						<td date="22/3" startTime="12" endTime="13"></td>
						<td date="23/3" startTime="12" endTime="13"></td>
						<td date="24/3" startTime="12" endTime="13" class="success" onclick=checked(this)></td>
						<td date="25/3" startTime="12" endTime="13" class="success" onclick=checked(this)></td>
						<td date="26/3" startTime="12" endTime="13"></td>
						<td date="27/3" startTime="12" endTime="13"></td>
						<td date="28/3" startTime="12" endTime="13" class="success" onclick=checked(this)></td>
					</tr>
					<tr>
						<th scope="row">13</th>
						<td date="22/3" startTime="13" endTime="14"></td>
						<td date="23/3" startTime="13" endTime="14"></td>
						<td date="24/3" startTime="13" endTime="14" class="success" onclick=checked(this)></td>
						<td date="25/3" startTime="13" endTime="14" class="success" onclick=checked(this)></td>
						<td date="26/3" startTime="13" endTime="14"></td>
						<td date="27/3" startTime="13" endTime="14"></td>
						<td date="28/3" startTime="13" endTime="14" class="success" onclick=checked(this)></td>
					</tr>
					
				</tbody>
			</table> 
			<div>&nbsp;</div>
			<div id="goback">
			<button type="button" class="btn btn-primary btn-lg btn-block" id="goBack">Select</button>
			</div>
		</div>
	</div> 
-->
</template>
