<template name="layout">
  {{> login}}
  {{#if currentUser}}
  <!-- {{> testCalList}} -->
  <!-- {{> headerTemplate}} -->


  <!-- Static navbar -->

  {{> nav}}
  <div id="main">
    {{> yield}}
  </div>
  <script type="text/javascript" src="js/query.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/jquery.circliful.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script type="text/javascript" src="js/ie10-viewport-bug-workaround.js"></script>
  <script type="text/javascript">
  $(function(){
      $("div.project-list-progress").each(function(){
          $(this).circliful({
              fgcolor: "#449BB5",
              dimension: 50,
              width: 6,
              fontsize: 12
          });
      });
  });
  </script>
  <!--  {{> testCalList}} -->
  {{/if}}
</template>
