<template name="layout">
	{{> login}}
	{{#if currentUser}}
		<!-- {{> testCalList}} -->
		<!-- {{> headerTemplate}} -->


		<!-- Static navbar -->

		{{> nav}}
		<div id="main">
		{{> yield}}
		</div>
		<script type="text/javascript" src="js/query.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/jquery.circliful.min.js"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script type="text/javascript" src="js/ie10-viewport-bug-workaround.js"></script>
	{{/if}}
</template>
