<template name="linkitterList">
	<!-- content -->
	<div class="container">
		<ul class="nav nav-tabs">
			{{> list_nav}}
		</ul>
		{{> friendListSearch}}
	</div> 
</template>

<template name="friendListSearch">
	<form class="input-group">
		{{> esInput index="profiles" placeholder="Search LINIKTer..." }}
	</form>

	<div class="posts">
		{{#esEach index="profiles"}}
		<div class="row friendListItem">
			<div class="col-xs-3"><img src="{{picture}}" class="img-responsive friendListPic"></div>
			<div class="col-xs-5 textContainer"><a href="/profile/{{user_id}}">{{name}} {{surname}}</a></div>
			<div class="col-xs-4"><a class="btn btn-primary text-center" href="#" role="button">Add to<br>project</a></div>
		</div>
		{{/esEach}}
	</div>
</template>
