<template name="overview">
	<!-- content -->
	<div class="container">
		<ul class="nav nav-tabs">
		{{> list_nav}}
		</ul>

		<div class="row">
			<ul class="list-group">
				<li class="list-group-item active">Recently Added</li>

				<li class="list-group-item">
					<div class="overflowX">
						{{#each friend}}
						<div class="overview">
							<a href="/profile/{{user_id}}">
								<img src="/user/people1.png" class="friendListPic">
								{{name}} {{surname}}
							</a>
						</div>
						{{/each}}
					</div>
				</li>

				<li class="list-group-item active">You are currently working with...</li>

				<li class="list-group-item">
					<div class="overflowX">
						{{# each groupmates}}
						<div class="overview">
							<a href="/profile/{{user_id}}">
								<img src="/user/people1.png" class="friendListPic">
								{{name}} {{surname}}
							</a>
						</div>
						{{/each}}
					</div>
				</li>
			</ul>
		</div>
	</div>
</template>
