<template name="profile">
	{{#if info}}
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<div class="row">
					<div class="col-xs-3"><img src="{{picture}}" alt="profile_pic" class="img-circle img-responsive"></div>
					<div class="col-xs-9"><span><b>{{info.name}} {{info.surname}}</b></span><br><span>{{info.company}}</span></div>
				</div>
				<hr>
				<div class="row">
					<table class="table borderless">	
						<tr><td>Email</td><td>{{info.email}}</td></tr>
						<tr><td>Phone</td><td>{{info.Phone}}</td></tr>
						<tr><td>website</td><td>{{info.website}}</td></tr>
					</table>
				</div>	
			</div>
			<div class="col-xs-12 col-md-12">
				<hr>
				<div class="row">{{info.company}}</div>
				<hr>
				<div class="row">This is a short description about me. kjsanhflkjhdsa jhsalkjfhlsa dsajhaslkd fsda jalhsfsadlhj dsh lkjjdsalkjdsafjds lkj jd dshjahfk hksdh kjds jsdjds kjh jhdsfdk jkshfd k </div>
			</div>
		</div>
		{{#if iscurrentUser}}
			<div class="row" id="edit"><p class="text-center">Edit Profile</p></div>
		{{/if}}
	</div> 
	{{else}}
	<div class="container">
		<div class="col-xs-9"><span><b>The user ID that you are looking for does not exist in your friend list!</b></span></div>
	</div>
	{{/if}}
</template>
